<div class="map-card">
	<h1>${title}</h1>
	<div class="map-card__h1desc">${title_desc}</div>
	{{if type == true}}
		<div class="map-card__build"><i class="icon _mapcard_build"></i> ${type}</div>
	{{/if}}
	{{if type == 'street'}}
		<div class="map-card__offices"><i class="icon _mapcard_offices"></i> Организации на улице: 
			{{if branches > 0}}
			<a href="#" class="offices_a" onclick="showObjectDetail({id_street:${id}})">${branches} организаций</a>
			{{else}}
			0 организаций
			{{/if}}
		</div>
	{{else type == 'house'}}
		<div class="map-card__offices"><i class="icon _mapcard_offices"></i> Организации в здании: 
			{{if branches > 0}}
			<a href="#" class="offices_a" onclick="showObjectDetail({id_house: ${id}})">${branches} организаций</a>
			{{else}}
			0 организаций
			{{/if}}
		</div>
	{{/if}}
</div>